
  <div class="list-group">
    <button routerLink="employee" type="button" class="list-group-item list-group-item-action " role="button" routerLinkActive="active">Employees</button>
    <button routerLink="add" type="button" class="list-group-item list-group-item-action " role="button" routerLinkActive="active">Add</button>
    <button routerLink="findbylastname" type="button" class="list-group-item list-group-item-action " role="button" routerLinkActive="active">Search</button>
    <button type="button" class="list-group-item list-group-item-action" disabled>Delete All</button>
  </div>
