#list-edit {
  list-style-type: none;
}

.list-item-event-title {
  width: 100%;
  height: auto;
  display: inline-block;
}

.list-group-item-edit {
  width: 100%;
  height: auto;
  display: inline-block;
}

.badge {
  background: red;
  color: white;
}

