
    <div class="alert alert-info">
      Click on a day on the view.
      <strong *ngIf="clickedDate">You clicked on this day: {{ clickedDate | date:'fullDate' }}</strong>
    </div>
    <br>

    <ng-template #customCellTemplate let-day="day" let-locale="locale" >
      <div class="cal-cell-top" >
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      </div>

    </ng-template>

    <app-create-event *ngIf="view === 'week' || view === 'day'"></app-create-event>


    <div class="row">

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <ul>
              <ng-container *ngFor="let event of events">
                <li *ngIf="event.start.getDay() == clickedDate.getDay()"
                  mwlDraggable
                  [dropData]="{event: event}"
                  style="position:relative; z-index: 10">
                  <a
                    href="javascript:;"
                    [style.color]="event.color.primary">
                    {{ event.title }}{{event.start.getDay()}}{{clickedDate.getDay()}}
                  </a>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <app-schedule-header></app-schedule-header>

        <div [ngSwitch]="view">
          <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="events"
            [cellTemplate]="customCellTemplate"
            (dayClicked)="clickedDate = $event.day.date; onDateClicked();"
            (eventTimesChanged)="onEventTimesChanged($event)">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="events"
            (dayHeaderClicked)="clickedDate = $event.day.date; onDateClicked()"
            (eventTimesChanged)="onEventTimesChanged($event)">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            [events]="events"
            (eventTimesChanged)="onEventTimesChanged($event)">
          </mwl-calendar-day-view>
        </div>
      </div>

    </div>


