<div class="row">
  <div class="col-md-5 text-left">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false; onViewDateChange()">
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false; onViewDateChange()">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
  </div>
  <div class="col-md-4 text-right">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="view = 'month'; onViewSelected()"
        [class.active]="view === 'month'">
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="view = 'week'; onViewSelected()"
        [class.active]="view === 'week'">
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="view = 'day'; onViewSelected()"
        [class.active]="view === 'day'">
        Day
      </div>
    </div>
  </div>
</div>
