<div class="container">
  <div class="col-md-12">
    <h3>
      Create Shifts
    </h3>
    <table class="table table-bordered">

      <thead>
      <tr>
        <th>Employee</th>
        <th>Service</th>
        <th>Color</th>
        <!--<th>Secondary color</th>-->
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <td >
          <input
            type="text"
            class="form-control"
            [(ngModel)]="eventTitle"
            (keyup)="onRefreshEvents()">
        </td>
        <td >
          <div class="btn-group" appDropdown >
            <button type="button" class="btn btn-primary dropdown-toggle "> Select <fa name="caret-down"></fa>
            </button>
            <ul class="dropdown-menu">
              <li><a style="cursor: pointer;">MA</a> </li>
              <li><a style="cursor: pointer;">FD</a> </li>
              <li><a style="cursor: pointer;">CM</a> </li>
            </ul>
          </div>
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="eventSecondaryColor"
            (change)="onRefreshEvents()">
        </td>
        <td >
          <input
            class="form-control"
            [owlDateTimeTrigger]="dt2"
            [owlDateTime]="dt2">
          <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
        </td>
        <td >
          <input
            class="form-control"
            [owlDateTimeTrigger]="dt4"
            [owlDateTime]="dt4">
          <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
        </td>
        <td >
          <input
            class="form-control"
            [owlDateTimeTrigger]="dt3"
            [owlDateTime]="dt3">
          <owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>
        </td>
        <td>
          <button
            class="btn btn-primary pull-right"
            (click)="onAddEvent()">
            Add <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <div class="clearfix"></div>
        </td>
      </tr>
      </tbody>

    </table>

  </div>
</div>
