<div class="container">
  <div class="col-md-12">
    <h3>
      Create Shifts | Start: {{ startTime }} | End: {{ endTime }} | StartHours: {{ startHours }} | EndHours: {{ endHours }} | StartTimeVal: {{ startTime}} & Mins: {{ startMins }}| EndTimeVal: {{ endTime }}
    </h3>
    <button class="btn btn-primary" (click)="checkHours()">Check Hours</button>
    <table class="table table-bordered" >
      <thead >
      <tr>
        <th>Employee</th>
        <th>Service</th>
        <th>Color</th>
        <!--<th>Secondary color</th>-->
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <td >
          <div class="btn-group" appDropdown >
            <button type="button" class="btn btn-primary dropdown-toggle "> {{ selectedEmployee }} <fa name="caret-down"></fa>
            </button>
            <ul class="dropdown-menu" >
              <li *ngFor="let employee of employees; let i = index">
                <a style="cursor: pointer;" (click)="onSelectedEmployee(i)">{{ employee.firstName + ' ' + employee.lastName }}</a> </li>
            </ul>
          </div>
        </td>
        <td >
          <div class="btn-group" appDropdown >
            <button type="button" class="btn btn-primary dropdown-toggle "> {{ selectedRole }} <fa name="caret-down"></fa>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let role of selectedEmployeeRoles; let i = index">
                <a style="cursor: pointer;" (click)="onSelectedRole(i)"> {{ role }}</a> </li>

            </ul>
          </div>
        </td>
        <td>
          <input
            [(ngModel)]="eventSecondaryColor"
            type="color"
            (change)="onRefreshEvents()">
        </td>
        <td >
          <input
            [(ngModel)]="dateSelected"
            class="form-control"
            [owlDateTimeTrigger]="dt2"
            [owlDateTime]="dt2">
          <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
        </td>
        <td >
          <input
            [(ngModel)]="startTime"
            class="form-control"
            [owlDateTimeTrigger]="dt4"
            [owlDateTime]="dt4">
          <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
        </td>
        <td >
          <input
            [(ngModel)]="endTime"
            class="form-control"
            [owlDateTimeTrigger]="dt3"
            [owlDateTime]="dt3">
          <owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>
        </td>
        <td>
          <button
            class="btn btn-primary pull-right"
            (click)="onAddNewEvent()">
            Add <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <div class="clearfix"></div>
        </td>
      </tr>
      </tbody>

    </table>

  </div>
</div>

