<div class="container">
  <div class="col-md-12">
    <h3>
      New Shift
    </h3>
    <table class="table table-bordered" >
      <thead >
      <tr>
        <th>Employee</th>
        <th>Service</th>
        <th>Color</th>
        <!--<th>Secondary color</th>-->
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" (click)="toggleEmployeDD($event)" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ employeeSelection }}
            </button>
            <div class="dropdown-menu" [class.show]="displayEmployeDD" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" (click)="toggleEmployeDD($event)">Emanuel</a>
              <a class="dropdown-item" href="#" (click)="toggleEmployeDD($event)">Fadi</a>
              <a class="dropdown-item" href="#" (click)="toggleEmployeDD($event)">Nadia</a>
            </div>
          </div>
        </td>
        <td >
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" (click)="toggleRoleDD($event)" type="button" id="dropdownRoleButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ roleSelection }}
            </button>
            <div class="dropdown-menu" [class.show]="displayRoleDD" aria-labelledby="dropdownRoleButton">
              <a class="dropdown-item" href="#" (click)="toggleRoleDD($event)">MA</a>
              <a class="dropdown-item" href="#" (click)="toggleRoleDD($event)">FD</a>
              <a class="dropdown-item" href="#" (click)="toggleRoleDD($event)">DR</a>
            </div>
          </div>
        </td>
        <td>
          <input
            [(ngModel)]="eventSecondaryColor"
            type="color"
            (change)="onRefreshEvents()">
        </td>
        <td >
          <input
            [(ngModel)]="dateSelected"
            class="form-control"
            [owlDateTimeTrigger]="dt2"
            [owlDateTime]="dt2">
          <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
        </td>
        <td >
          <input
            [(ngModel)]="startTime"
            class="form-control"
            [owlDateTimeTrigger]="dt4"
            [owlDateTime]="dt4">
          <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
        </td>
        <td >
          <input
            [(ngModel)]="endTime"
            class="form-control"
            [owlDateTimeTrigger]="dt3"
            [owlDateTime]="dt3">
          <owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>
        </td>
        <td>
          <button
            class="btn btn-primary pull-right"
            (click)="onAddNewEvent()">
            Add <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <div class="clearfix"></div>
        </td>
      </tr>
      </tbody>

    </table>

  </div>
</div>

